.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__form {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__content {
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  font-family: "Cabinet-Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  /* padding: 28px; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__content-image {
  padding: 0;
  overflow: hidden;
}

.modal__close {
  background-image: url(../../images/close.svg);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: 16px;
  border: none;
}
.modal__close:hover {
  cursor: pointer;
}
.modal__title {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 0 28px;
  padding-top: 30px;
}
.modal__submit-button {
  font-family: "Cabinet-Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: white;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 24px 0px;
  padding: 8px 0 8px 0;
  width: 124px;
}
.modal__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0 20px 20px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.modal__temp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal__input {
  border: none;
  border-bottom: 1px solid black;
  padding-top: 10px;
}

/* .modal__image {
} */
