.switch {
    border: 2px solid #7E7E7E;
    margin-right: 25px;
    display: flex;
    position: relative;
    height: 28px;
    width: 56px;
    font-family: 'Cabinet Grotesk' sans-serif;
    line-height: 17.36px;
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    border-radius: 25px;
    overflow: hidden;
}

.switch__checkbox {
    display: none;
}

.switch__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;;
    background-color: #000; 
    cursor: pointer;
    border: solid 1px white;
    transition: transform .3s ease-in-out;
}

.switch__checkbox:checked + .switch__slider {
    transform: translateX(100%);
}

.switch__temp-f {
    position: absolute;
    top: -8px;
    left: 10px;
    opacity: 0;
}

.switch__temp-c {
    position: absolute;
    top: -8px;
    left: 39px;
    opacity: 0;
}

.switch__active {
    opacity: 1;
}