.switch {
    border: 2px solid #7E7E7E;
    margin-right: 25px;
    display: flex;
    position: relative;
    height: 28px;
    width: 56px;
    font-family: 'Cabinet Grotesk' sans-serif;
    line-height: 17.36px;
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    border-radius: 25px;
    overflow: hidden;
}

@keyframes moveSlider {
    0% {
        transform: translateX(0%);
    }
    50% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
    }
}

.switch__checkbox {
    display: none;
}

.switch__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;;
    background-color: #000; 
    cursor: pointer;
    animation: moveSlider 1s ease-in-out alternate;
}

.switch__checkbox:checked + .switch__slider {
    transform: translateX(100%);
}


.switch__slider.left {
    animation: none;
}

.switch__slider.right {
    animation: moveSlider 1s ease-in-out forwards; 
}