.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 57px;
  height: 33px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  right: 26px;
  top: 2px;
}

.switch__slider-C {
  right: 1px;
  top: 2px;
}

.switch__temp-F {
  position: absolute;
  top: -15px;
  right: 37px;
  color: white;
}

.switch__temp-C {
  position: absolute;
  color: white;
  top: -15px;
  right: 9px;
}

.switch__active {
  color: white;
}
