# Dependency directories
node_modules/

# Environment variables
.env

# Build directory
build/

# Production build directory
dist/

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
