.profile {
  display: flex;
}

.profile__sidebar {
  display: flex;
  max-width: 229px;
  width: 100%;
  padding: 0 20px;
  margin-top: 40px;
  gap: 20px;
}

.profile__clothessection {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
}