.clothing_card {
  position: relative;
  border: 5px black;
  display: flex;
  justify-content: center;

}

.clothing_card__card_image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.clothing_card__card_name {
  position: absolute;
  top: 20px;
  text-align: center;
  font-family: "CabinetGrotesk-Bold";
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  height: 24px;
  width: 72px;
  border-radius: 4px;
  padding: 5px;
}

@media all and (max-width: 660px) {
  .clothing_card__card_image {
    width: 164px;
    height: 164px;
    padding: 0px;
  }

  .clothing_card__card_name {
    top: 7px;
    height: 15px;
    width: 50px;
  }
}