.itemCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCard__image {
    height: 328px;
    width: 328px;
    border-radius: 10px;
}

.itemCard__image:hover {
    cursor: pointer;
}

.itemCard__name {
    position: absolute;
    top: 16px;
    height: 24px;
    width: 73px;
    padding: 2px 12px;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
}