.weather {
  position: relative;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

.weather__info {
  position: absolute;
  top: 13px;
  left: 16px;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

.weather__image {
  width: 100%;
}

@media all and (max-width: 1015px) {
  .weather__info {
    font-size: 20px;
    top: 20px;
  }

  .weather__image {
    height: 80px;
  }
}

@media all and (max-width: 660px) {
  .weather__info {
    font-size: 15px;
    top: 20px;
  }

  .weather__image {
    height: 80px;
  }
}

@media all and (max-width: 450px) {
  .weather__info {
    top: 3px;
  }

  .weather__image {
    height: 80px;
  }
}
