.weather {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80px;
  max-width: 1350px;
  /* margin: 0 40px; */
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather__info {
  position: absolute;
  top: 20px;
  left: 16px;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  color: white;
}

.weather__image {
  height: 80px;
  max-width: 1350px;
}
