.main {
  padding: 0 20px;
}

.clothing {
  margin-top: 20px;
}

.clothing__title {
  font-family: "CabinetGrotesk-Bold", serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.clothing__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

@media all and (max-width: 660px) {
  .clothing__title {
    text-align: center;
  }
}
