.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  font-family: "CabinetGrotesk-Bold", serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__logo-image {
  cursor: pointer;
}

.header__logo-image:hover {
  opacity: 0.8;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__add-clothes-button {
  font-family: "CabinetGrotesk-Bold", serif;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__add-clothes-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header__profile-link {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.header__profile-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header__profile-link:visited {
  color: #000;
  text-decoration: none;
}

@media all and (max-width: 660px) {
  .header__logo {
    flex-direction: column;
    align-items: flex-start;
  }
}
