.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 32px 40px 28px 40px;
  font-family: "Familjen Grotesk", sans-serif;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header__avatar-image {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header__date {
  color: #000;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 24px;
  margin: 0;
}

.header__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header__name {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-wrap: nowrap;
}

.header__add-button {
  color: #000;
  border: none;
  background-color: #fff;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.header__register-button {
  color: #000;
  border: none;
  background-color: #fff;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.header__login-button {
  color: #000;
  border: none;
  background-color: #fff;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.header__button:hover {
  cursor: pointer;
}

.header__avatar-image {
  height: 40px;
  width: 40px;
}

.header__link {
  color: #000;
  text-decoration: none;
}
