@import "./components/App/App.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/CabinetGrotesk-Black.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/CabinetGrotesk-Bold.otf");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/CabinetGrotesk-Medium.otf");
  font-weight: 700;
  font-style: normal;
}
